<div class="col-lg-5">
	<h1 class="h1-strong">{{title}}</h1>
	<div class="alert alert-success" *ngIf="status == 'success'">
		Data updated sucessfully 
	</div>
	<div class="alert alert-danger" *ngIf="status == 'error'">
		Data wasn't updated 
	</div>


	<form #userEditForm="ngForm" (ngSubmit)="onSubmit()" class="col-lg-12">
		<p>
			<label>Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required class="form-control"/>
			<span *ngIf="!name.value && name.touched">
				The name is required
			</span>
		</p>
		<p>
			<label>Surname</label>
			<input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required class="form-control"/>
			<span *ngIf="!surname.value && surname.touched">
				The name is required
			</span>
		</p>
		<p>
			<label>Nick</label>
			<input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required class="form-control"/>
			<span *ngIf="!nick.value && nick.touched">
				The nick is required
			</span>
		</p>
		<p>
			<label>Email</label>
			<input type="text" name="email" #email="ngModel" [(ngModel)]="user.email" required class="form-control"/>
			<span *ngIf="!email.value && email.touched">
				The email is required
			</span>
		</p>
		<p>
			<label>Profile Picture</label>
			<input type="file" placeholder="Upload picture" />
			<span *ngIf="!email.value && email.touched">
				The email is required
			</span>
		</p>		
		<input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!userEditForm.form.valid" />
	</form>
</div>