<div class="col-lg-10">
	<h3>{{tittle}}</h3>

	<div class="alert alert-success" *ngIf="status == 'success'">
		Message sent <a [routerLink]="['/messages/sent']">Sent messages</a>
	</div>

	<div class="alert alert-danger" *ngIf="status == 'error'">
		Message wasn't sent. Try it later.
	</div>
	<form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
		<p>
			<label>To:</label>
			<!--List of followers-->
			<select *ngIf="follows" name="receiver" #receiber="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
				<option *ngFor="let follow of follows" value="{{follow.user._id}}">
					{{follow.user.name + ' ' + follow.user.surname + ' (' + follow.user.nick + ')'}}
				</option>
			</select>
		</p>
		<p>
			<label>Message</label>
			<textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required></textarea>
			<span *ngIf="!text.valid && text.touched"> The message is mandatory</span>
		</p>
		<input type="submit" value="Send" class="btn btn-success" />
	</form>
</div>