body{
	background: url('../img/rojo.jpg');
	background-attachment: fixed; // para que no se acabe la imagen haciendo scroll
}

#logo{
	background: #CA3134;
}

#menu ul li:hover{
	background: #CA3134;
}

.button-more{
	background: #CA3134;
}



