<div class="col-lg-8">
	<h1 class="h1-strong">{{tittle}}</h1>

	<div id="data-profile" *ngIf="user"> 
		<div class="avatar pull-left">
			<img src="{{ url + 'get-image-user/' + user.image }}" *ngIf="user.image && !user.image.includes('null')"/>
			<img src="assets/user.jpg" class="avatar-default" *ngIf="!user.image || user.image.includes('null')"/>
		</div>
		<div class="user-name pull-left">
			<p class="name">{{user.name + ' ' + user.surname}}</p>
			<p class="nick">{{user.nick}}</p>
		</div>
	</div>
</div>
<app-sidebar></app-sidebar>